<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Instantiation with a constructor -->
    <bean id="testBean" class="com.cloudex.spring.ioc.TestBean"/>
    <!-- testBean equalTo testBean2 -->
    <alias name="testBean" alias="testBean2"/>

    <!-- Instantiation with a static factory method -->
    <bean id="testFactoryBean" class="com.cloudex.spring.ioc.TestFactoryBean"
          factory-method="staticCreateInstance"/>

    <!-- the factory bean, which contains a method called createInstance() -->
    <bean id="serviceLocator" class="com.cloudex.spring.ioc.TestFactoryBean">
        <!-- inject any dependencies required by this locator bean -->
    </bean>
    <!-- the bean to be created via the factory bean -->
    <bean id="testFactoryBean2"
          factory-bean="serviceLocator"
          factory-method="createInstance"/>

</beans>