<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="testRequiredBean" class="com.cloudex.spring.ioc.annotation.TestRequiredBean">
        <property name="name" value="Jack"/>
    </bean>

    <bean id="testAutowiredBean" class="com.cloudex.spring.ioc.annotation.TestAutowiredBean"/>

    <bean id="testInitBean" class="com.cloudex.spring.ioc.annotation.TestInitBean"/>

    <bean class="com.cloudex.spring.ioc.annotation.TestRequiredBean">
        <qualifier value="first"/>
        <property name="name" value="First Man"/>
    </bean>

    <bean id="testQualifierBean" class="com.cloudex.spring.ioc.annotation.TestQualifierBean"/>

    <!--user component scan for all config above-->
    <!--<context:component-scan base-package="com.cloudex.spring.ioc.annotation"/>-->
</beans>