<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="accountWebService"
          class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="serviceInterface" value="com.cloudex.spring.rmi.AccountService"/>
        <property name="wsdlDocumentUrl" value="http://localhost:8888/AccountServiceEndpoint?WSDL"/>
        <property name="namespaceUri" value="http://rmi.spring.cloudex.com/"/>
        <property name="serviceName" value="AccountService"/>
        <property name="portName" value="AccountServiceEndpointPort"/>
    </bean>

    <bean id="client" class="com.cloudex.spring.rmi.AccountClientImpl">
        <property name="service" ref="accountWebService"/>
    </bean>
</beans>