<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:config>
        <aop:aspect id="testSchemaAspect" ref="testSchemaBean">
            <aop:pointcut id="businessService"
                          expression="execution(* com.cloudex.spring.aop.schema.*.*(..))"/>
            <aop:before pointcut-ref="businessService" method="doBefore"/>

            <aop:around pointcut="execution(* com.cloudex.spring.aop.schema.*.sayBye(..))"
                        method="doAround"/>
        </aop:aspect>
    </aop:config>

    <bean id="testSchemaBean" class="com.cloudex.spring.aop.schema.TestSchemaBean"/>

    <bean id="testBean" class="com.cloudex.spring.aop.schema.TestBean"/>
</beans>